<div class="starter-template">
	<h1>Digest APP</h1>
	<select name="digest-app-type" id="digest-app-type">
		<option value="-1">Choose Type</option>
		<option value="email">Email</option>
		<option value="note">Note</option>
		<option value="trello-card">Trello Card</option>
	</select>
	<div id="email" style="display:none;">
		<table class="table display" id="email-table" style="width:100%">
		  <thead>
			<tr>
			  <th scope="col">Sender</th>
			  <th scope="col">Subject</th>
			  <th scope="col">Content</th>
			  <th scope="col">Date Created</th>
			</tr>
		  </thead>
		  <tbody>
		  </tbody>
		</table>
	</div>
	<div id="notes" style="display:none;">
		<table class="table" id="notes-table">
		  <thead>
			<tr>
			  <th scope="col">Title</th>
			  <th scope="col">Content</th>
			  <th scope="col">Date Created</th>
			</tr>
		  </thead>
		  <tbody>
		  </tbody>
		</table>
	</div>
	<div id="trello-card" style="display:none;">
		<table class="table" id="trello-card-table">
		  <thead>
			<tr>
			  <th scope="col">Title</th>
			  <th scope="col">Board</th>
			  <th scope="col">List</th>
			  <th scope="col">Date Created</th>
			</tr>
		  </thead>
		  <tbody>
		  </tbody>
		</table>
	</div>
</div>