<!doctype html>
<html lang="en">

	<% include header %>

	<body>

		<% include nav %>

			<main role="main" class="container">

				<% include content %>

			</main><!-- /.container -->

		<% include footer %>
		<script>
			$( document ).ready(function() {
				let $email = $('#email');
				let $notes = $('#notes');
				let $trello_card = $('#trello-card');
				
				$email.hide();
				$notes.hide();
				$trello_card.hide();
				
				function getEmails() {
					var request = $.ajax({
					  url: "/emails",
					  method: "GET",
					  data: {},
					  dataType: "json"
					});
					request.done(function( msg ) {
						//$( "#log" ).html( msg );
						$email.show();
						var table = $("#email-table tbody");
						$.each(msg, function(idx, val){
							table.append("<tr><td>"+val.sender+"</td><td>"+val.subject+"</td><td>"+val.content+"</td><td>"+val.createdAt+"</td></tr>");
						});
						$('#email-table').DataTable();
						//console.log(msg);
					});
				}
				
				function getNotes() {
					var request = $.ajax({
					  url: "/notes",
					  method: "GET",
					  data: {},
					  dataType: "json"
					});
					request.done(function( msg ) {
						//$( "#log" ).html( msg );
						$notes.show();
						var table = $("#notes-table tbody");
						$.each(msg, function(idx, val){
							table.append("<tr><td>"+val.title+"</td><td>"+val.content+"</td><td>"+val.createdAt+"</td></tr>");
						});
						$('#notes-table').DataTable();
						//console.log(msg);
					});
				}
				
				function getTrelloCards() {
					var request = $.ajax({
					  url: "/trello-cards",
					  method: "GET",
					  data: {},
					  dataType: "json"
					});
					request.done(function( msg ) {
						//$( "#log" ).html( msg );
						$trello_card.show();
						var table = $("#trello-card-table tbody");
						$.each(msg, function(idx, val){
							table.append("<tr><td>"+val.title+"</td><td>"+val.board+"</td><td>"+val.list+"</td><td>"+val.createdAt+"</td></tr>");
						});
						$('#trello-card-table').DataTable();
						//console.log(msg);
					});
				}
				
 				$('#digest-app-type').on('change', function() {
					let $this = $(this);
					console.log($this.val());
					
					$email.hide();
					$notes.hide();
					$trello_card.hide();
					
					switch( $this.val() ) {
						case 'email':
							getEmails();
							//getEmailsDataTable();
						break;
						case 'note':
							getNotes();
						break;
						case 'trello-card':
							getTrelloCards();
						break;
					}
				});
				
			});
		</script>
	</body>
</html>
